@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS to hide the scrollbar on mobile devices */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  